@import "tailwindcss";


@font-face {
  font-family: 'Playfair Display';
  src: url('../public/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}

.playfair {
  font-family: 'Playfair Display', serif;
}
@font-face {
  font-family: 'TT Hoves';
  src: url('../public/fonts/TT-Hoves-Regular.ttf') format('truetype');
}
.tthoves {
  font-family: 'TT Hoves', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

/*Paralax effect*/
.animation, .animation_layer {
	height: 1000px;
}

.animation {
  display: block;
	position: relative;
	z-index: 10;
}

.animation_layer {
	width: 100%;
	position: absolute;
}
.animation_layer.parallax {
	position: fixed;
}
