@import "tailwindcss";


@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}

.playfair {
  font-family: 'Playfair Display', serif;
}
@font-face {
  font-family: 'TT Hoves';
  src: url('/fonts/TT-Hoves-Regular.ttf') format('truetype');
}
.tthoves {
  font-family: 'TT Hoves', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.big-text {
  font-size: 6rem;
}
@media screen and (min-width: 468px) {
  .big-text {
    font-size: 8.5rem;
  }
  
}

@media screen and (min-width: 768px) {
  .big-text {
    font-size: 14.5rem;
  }
  
}

@media screen and (min-width: 925px) {
  .big-text {
    font-size: 17rem;
  }
  
}

@media screen and (min-width: 1163px) {
  .big-text {
    font-size: 22rem;
  }
  
}